@import 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css'
	
@import 'base/variables'

@import 'blocks/nav'
@import 'blocks/promo'
@import 'blocks/title'
@import 'blocks/btn'
@import 'blocks/benefits'
@import 'blocks/business'
@import 'blocks/format'
@import 'blocks/price'
@import 'blocks/footer'
@import 'blocks/modal'

*
	box-sizing: border-box

body
	font-family: 'Roboto', sans serif
	margin: 0
	padding: 0

.container
	max-width: 1140px
	margin: 0 auto

.show
	display: block

.hide
	display: none

@media (max-width: 1199px)
	.container
		max-width: 960px
	

@media (max-width: 991px)
	.container
		max-width: 720px
	

@media (max-width: 767px)
	.container
		max-width: 540px


@media (max-width: 575px)
	.container
		width: 100%
		padding: 0 10px
