.footer
    margin-top: 40px
    background-color: $main-color
    color: #fff
    &__wrapper
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        grid-template-rows: 1fr
    &__info
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    &__promo
        margin-top: 40px
        display: flex
        flex-direction: column
        img
            max-width: 110px
        &-descr
            margin-top: 10px
            color: #fff
        &-btn
            margin: 20px 0 0 0
    &__links
        margin-top: 40px
        &-title
            font-size: 1.25rem
            text-transform: uppercase
            margin-bottom: 1rem
            font-weight: 700
        &-item
            color: #fff
            text-decoration: none
            transition: all 0.3s
            &:hover
                color: $footer-link-hover
    &__contacts
        margin-top: 40px
        &-title
            font-size: 1.25rem
            text-transform: uppercase
            margin-bottom: 1rem
            font-weight: 700
        &-item
            text-decoration: none
            margin-bottom: 1rem
            a
                color: #fff
                transition: all 0.3s
                &:hover
                    color: $footer-link-hover
    .private-policy
        margin-top: 30px
        display: block
        text-align: center
        background-color: rgba(0, 0, 0, 0.2)
        padding: 18px 0

@media (max-width: 767px)
    .footer
        text-align: center
        &__promo
            img
                margin: 0 auto
            &-btn
                margin: 20px auto 0 auto