.f-left {
  float: left;
}

.fa-15 {
  font-size: 1.5rem;
}

.block-center {
  margin: 0 auto;
}

.text-bold {
  font-weight: 600;
}

.ml-3 {
  margin-left: 1rem;
}

.cyan-bg {
  background-color: #008bbb;
}

.h-400 {
  height: 400px;
}

.w-80 {
  max-width: 80%;
}

.align-right {
  text-align: right;
}

.container > h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.card {
  margin: 0 auto;
}

.card-adventage {
  text-align: center;
  margin: 0;
  padding: 25px;
}

.card-adventage img {
  margin: 0 auto;
  max-width: 50%;
}

.card-adventage h5.card-header {
  padding: 0.5rem 0;
}

.format {
  text-align: center;
}

.format-l {
  text-align: center;
}

.d-none {
  display: none;
}

.text-small {
  font-size: 0.7rem;
}

.tw-400{
  font-weight: 200;
}

.navbar-brand img,
.logo {
  height: 35px;
  margin-left: -3px;
}

.form-outline {
  margin: 20px;
}

@media (min-width: 576px) {
  .format-l {
    text-align: left;
  }

  .carousel-item {
    width: 100%;
  }
}

/* Carousel */


@media (min-width: 1365px) {
  .carousel-item {
    width: 33.3333333333%;
    margin-right: 0;
  }
  
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
    
  }

}
/* Carousel */

.thanks a img.thanks-logo{
  max-width: 20%;
  margin: 5rem auto;
}

.thanks img.thanks-img {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

